# Copy this file to .env and fill in your actual API keys
# Never commit your actual .env file to GitHub

TAVILY_API_KEY=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
GROQ_API_KEY=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